html,
body {
  text-align: center;
  background-image: url("./fotos/spaceship.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}



header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 80px;
  background-color: rgba(128, 126, 126, 0.6);
  /* Usé rgba para especificar la opacidad */
  color: white;
}

a,
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  margin-bottom: 500px;
}

button {
  border: 0;
  background-image: linear-gradient(150deg, #9500ff, #09f, #00DDFF);
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  transition: .3s;
}

button span {
  background-color: #111;
  padding: 16px 24px;
  border-radius: 6px;
  transition: .3s;

}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 100%;
  font-size: 45px;
  color: white;
}